@font-face {
    font-family: 'open_sansregular';
    src: url('OpenSans-Regular-webfont.eot');
    src: url('OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Regular-webfont.woff') format('woff'),
         url('OpenSans-Regular-webfont.ttf') format('truetype'),
         url('OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('OpenSans-Semibold-webfont.eot');
    src: url('OpenSans-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Semibold-webfont.woff') format('woff'),
         url('OpenSans-Semibold-webfont.ttf') format('truetype'),
         url('OpenSans-Semibold-webfont.svg#open_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('OpenSans-Bold-webfont.eot');
    src: url('OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-Bold-webfont.woff') format('woff'),
         url('OpenSans-Bold-webfont.ttf') format('truetype'),
         url('OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  color: $base-font-color;
  font-family: $base-font-family;
  //font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: open_sanssemibold,'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-size: $base-font-size;
  line-height: $heading-line-height;
  margin: 50px 0 $small-spacing 0;
  font-weight: 500;
}

.markdown { margin: 0 0 $small-spacing 0; }

h1 {
  font-size: rem(30);
}

h2 {
  font-size: rem(26);
}

h3 {
  font-size: rem(24);
}

h4 {
  font-size: rem(20);
}

h5,
h6 {
  font-size: rem(18);
  margin: 30px 0 $small-spacing 0;
}

p {
  margin: 0 0 $small-spacing;

  &.lead {
    font-size: rem(22);
    font-weight: 400;
  }
}

a {
  color: $action-color;
  text-decoration: none;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

blockquote {
  padding: 0 0 0 $base-spacing;
  margin: $base-spacing 0;
  color: $medium-gray-color;
  line-height: 1.8;
  border-left: $small-spacing solid $light-gray-color;
}

code {
  background: none;
  border-radius: 0;
  border: none;
  font-family: Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
  font-size: 0.9em;
  margin: 0;
  padding: 0;
}

pre {
  -webkit-overflow-scrolling: touch;
  font-family: $base-font-family;
  font-size: 0.85em;
  margin: 0;
  padding: 5px 10px !important;
  overflow: auto;
  max-height: 60em;
  white-space: pre;

  code {
    line-height: 1.75em;
    padding: 0 !important;
  }
}

strong {
  font-family: open_sansbold,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

em {
  font-style: italic;
}

ul,
dl {
    margin-top: 0;
    margin-left: 1.2em;
    margin-bottom: 1rem;
    list-style-type: square;
    list-style-position: outside;
    list-style-image: none;
}

ol {
    margin-top: 0;
    margin-left: 1.2em;
    margin-bottom: 1rem;
    list-style-type: decimal;
    list-style-position: outside;
    list-style-image: none;
}

.anchorjs-link {
    &.link {
      color: $blue-color;
      padding-bottom: .05em;
      border-bottom: 0px solid transparent;

      @include transition(border 300ms linear);

      &:hover,
      &:focus,
      &:active {
        border-bottom: 0px solid $blue-color;
      }
    }
}

.no-underline {
    &.link {
      color: $blue-color;
      padding-bottom: .05em;
      border-bottom: 0px solid transparent;

      @include transition(border 300ms linear);

      &:hover,
      &:focus,
      &:active {
        border-bottom: 0px solid $blue-color;
      }
    }
}

.alert-info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.alert {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

div {
    display: block;
}
