<footer class="site-footer">
  <div class="container">
    <small class="block">&copy; {{ site.time | date: '%Y' }}. A <a href="http://mattcone.com">{{ site.author.name }}</a> project. <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>. Source code on <a href="https://github.com/mattcone/markdown-guide">GitHub</a>.</small>
  </div>
</footer>
<script type="text/javascript" src="/assets/javascript/anchor.js"></script>
<script>
  anchors.options = {
  placement: 'left',
  };
  anchors.add('h1, h2, h3, h4, h5').remove('.no-anchor');
</script>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="/assets/javascript/jquery-1.12.4.min.js"></script>

<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/assets/javascript/bootstrap.min.js"></script>

<!-- TOC - add after bootstrap.min.js -->
<script src="/assets/javascript/bootstrap-toc.min.js"></script>

<script type="text/javascript">
$("#toc").affix({
    offset: {
      top: 60
    }
});
</script>

<!-- Move headings down when using anchor links -->
<script type="text/javascript">
var shiftWindow = function() { scrollBy(0, -70) };
if (location.hash) shiftWindow();
window.addEventListener("hashchange", shiftWindow);
</script>

<!-- for search -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript"> 
docsearch({
apiKey: '0125ba824e95b21d36ae268518067391',
indexName: 'markdownguide',
inputSelector: '#search-input',
debug: true // Set debug to true if you want to inspect the dropdown
});
</script>
