<footer class="site-footer">
  <div class="container">
    <p style="font-size: 14px; font-weight: 600"><a href="/about/">About</a>&nbsp;&nbsp;&nbsp;&nbsp; <a href="/contact/">Contact</a>&nbsp;&nbsp;&nbsp;&nbsp; <a href="https://github.com/mattcone/markdown-guide">GitHub</a>&nbsp;&nbsp;&nbsp;&nbsp; <a href="/api/v1/">API</a>&nbsp;&nbsp;&nbsp;&nbsp; <a href="https://app.termly.io/document/privacy-policy/1ca2b712-96e3-46bf-a8f1-d0035d389e7d">Privacy Policy</a></p>
    <p style="margin-top: 15px; font-size: 14px;">&#169; {{ site.time | date: '%Y' }}. A <a href="https://www.mattcone.com">{{ site.author.name }}</a> project. <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>. Made with 🌶️ in <a href="https://www.newmexico.org/">New Mexico</a>.</p>
  </div>
</footer>
<script type="text/javascript" src="/assets/javascript/anchor.min.js"></script>
<script>
  anchors.options = {
  placement: 'right',
  };
  anchors.add('h1, h2, h3, h4, h5').remove('.no-anchor');
</script>

<!-- for search -->
<script src="/assets/javascript/docsearch.min.js"></script>
<script>
docsearch({
apiKey: '0125ba824e95b21d36ae268518067391',
indexName: 'markdownguide',
inputSelector: '#search-input',
debug: false // Set debug to true if you want to inspect the dropdown
});
</script>
