<head>
  <meta charset="utf-8">
  <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico"/>
  <link href=/assets/images/apple-touch-icon.png rel=apple-touch-icon>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Markdown Guide{% if page.title != 'Home' %} | {{ page.title }}{% endif %}</title>

  <meta name="description" content="A free and open-source reference guide that explains how to use Markdown.">
  <meta content="Matt Cone and contributors" name=author>
  <meta name="keywords" content="Markdown, Markdown language, Markdown syntax, Markdown guide, Markdown cheatsheet, Markdown help, Markdown tutorial">

  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">

  <link rel="stylesheet" href="/assets/css/bootstrap.min.css">

  <!-- TOC - add after bootstrap.min.css -->
  <link rel="stylesheet" href="/assets/css/bootstrap-toc.min.css">

  {% if page.title == 'Home' or page.title == '404 Not Found' %}
  <link href="/assets/css/homepage.css" rel="stylesheet">
  {% else %}
  <link href="/assets/css/page.css" rel="stylesheet">
  {% endif %}

  <link rel="stylesheet" href="/assets/css/font-awesome.min.css">

  <!-- Canonical link tag -->
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

  <!-- for search -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />

</head>
