<div class="card border-info" style="margin-top: 50px">
  <h6 class="card-header no-anchor bg-info text-white" data-toc-skip>Want to learn more Markdown?</h6>
  <div class="card-body">
    <p class="card-text">
      Don't stop now! 😎 Drop in to our <a href="https://join.slack.com/t/markdownguide/shared_invite/enQtNDA2Nzk2Mjc1NjA0LWM5ZTE1ZGZmOGVlMDM4OWExYTJhMWZiNTAzNWIyNjJmNDI2MWU5MDA5YWYwNjk0ZDliODQzZjEyNDNlMTU2NDY">Slack chat room</a> and star the <a href="https://github.com/mattcone/markdown-guide">GitHub repository</a>. If you liked this and want to receive new Markdown tutorials, enter your email address below. No spam, promise.</p>

    <form action="https://tinyletter.com/markdownguide" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/markdownguide', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
      <div class="form-group" style="margin-top: 20px">
        <input type="email" class="form-control form-control-lg" name="email" id="tlemail" placeholder="Your email address" /><input type="hidden" value="1" name="embed" />
      </div>
      <button type="submit" class="btn btn-success">Stay Updated</button>
    </form>

  </div>
</div>
