<div class="card border-info" style="margin-top: 50px">
  <h6 class="card-header no-anchor bg-info text-white" data-toc-skip>Want to learn more Markdown?</h6>
  <div class="card-body">
    <p class="card-text">Hey there! :wave: I'm Matt Cone. I'm a technical writer who's been using Markdown for years. If you liked this and want to hear about my new Markdown tutorials, enter your email address below. I don't send spam.</p>

    <form action="https://tinyletter.com/markdownguide" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/markdownguide', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
      <div class="form-group" style="margin-top: 20px">
        <input type="email" class="form-control form-control-lg" name="email" id="tlemail" placeholder="Your email address" /><input type="hidden" value="1" name="embed" />
      </div>
      <button type="submit" class="btn btn-success">Subscribe</button>
    </form>

  </div>
</div>
