<div class="card bg-light mb-3" style="max-width: 100%; margin-top: 50px;">
  <div class="row no-gutters">
    <div class="col-md-3">
      <a href="/book/"><img src="/assets/images/book-cover.jpg" class="card-img" alt="Markdown Guide book cover"></a>
    </div>
    <div class="col-md-9">
      <div class="card-body" style="padding-left: 6%;">
        <h5 class="card-title no-anchor" data-toc-skip>Take your Markdown skills to the next level.</h5>
        <p class="card-text">Learn Markdown in 60 pages. Designed for both novices and experts, <em>The Markdown Guide</em> book is a comprehensive reference that has everything you need to get started and master Markdown syntax.</p>
        <a class="btn btn-success" style="margin-top: 5px; margin-right: 15px" href="/book/">Get the Book</a>
      </div>
    </div>
  </div>
</div>

<div class="card border-info" style="margin-top: 50px">
  <h6 class="card-header no-anchor bg-info text-white" data-toc-skip>Want to learn more Markdown?</h6>
  <div class="card-body">
    <p class="card-text">
      Don't stop now! 😎 Star the <a href="https://github.com/mattcone/markdown-guide">GitHub repository</a> and then enter your email address below to receive new Markdown tutorials via email. No spam!</p>

    <form action="https://tinyletter.com/markdownguide" method="post" target="popupwindow" onsubmit="window.open('https://tinyletter.com/markdownguide', 'popupwindow', 'scrollbars=yes,width=800,height=600');return true">
      <div class="form-group" style="margin-top: 20px">
        <input type="email" class="form-control form-control-lg" name="email" id="tlemail" placeholder="Your email address" /><input type="hidden" value="1" name="embed" />
      </div>
      <button type="submit" class="btn btn-success">Stay updated</button>
    </form>

  </div>
</div>
