<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Markdown Guide</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% if page.title == 'Getting Started' %}<li class="active">{% else %}<li>{% endif %}<a href="/getting-started">Getting Started</a></li>
        {% if page.title == 'Basic Syntax' %}<li class="active">{% else %}<li>{% endif %}<a href="/basic-syntax">Basic Syntax</a></li>
        {% if page.title == 'Extended Syntax' %}<li class="active">{% else %}<li>{% endif %}<a href="/extended-syntax">Extended Syntax</a></li>
        {% if page.title == 'About' %}<li class="active">{% else %}<li>{% endif %}<a href="/about">About</a></li>
      </ul>
      <div class="navbar-form navbar-right visible-md-inline visible-lg-inline bs-search" role="search">
        <div class="col-xs-6 col-sm-3">
          <div class="input-group input-group-sm">
            <input type="text" class="form-control" id="search-input" placeholder="Search" aria-describedby="sizing-addon3">
            <span class="input-group-btn" id="sizing-addon3">
              <button class="btn btn-default" type="button">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </span>
          </div>
        </div>
      </div>
    </div><!--/.nav-collapse -->
  </div>
</nav>
