<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Markdown Guide</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% if page.title == 'Getting Started' %}<li class="active">{% else %}<li>{% endif %}<a href="/getting-started">Getting Started</a></li>
        {% if page.title == 'Basic Syntax' %}<li class="active">{% else %}<li>{% endif %}<a href="/basic-syntax">Basic Syntax</a></li>
        {% if page.title == 'Extended Syntax' %}<li class="active">{% else %}<li>{% endif %}<a href="/extended-syntax">Extended Syntax</a></li>
        {% if page.title == 'About' %}<li class="active">{% else %}<li>{% endif %}<a href="/about">About</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
