@import url("search.css");

h1, h2, h3, h4, h5, h6 {
    color: #FFFFFF;
}

.mdg-nav {
  font-size: .9rem;
}

.jumbotron {
  background: rgba(73,155,234,1);
  background: -moz-linear-gradient(-45deg, rgba(73,155,234,1) 0%, rgba(3,167,221,1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(73,155,234,1)), color-stop(100%, rgba(3,167,221,1)));
  background: -webkit-linear-gradient(-45deg, rgba(73,155,234,1) 0%, rgba(3,167,221,1) 100%);
  background: -o-linear-gradient(-45deg, rgba(73,155,234,1) 0%, rgba(3,167,221,1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(73,155,234,1) 0%, rgba(3,167,221,1) 100%);
  background: linear-gradient(135deg, rgba(73,155,234,1) 0%, rgba(3,167,221,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#499bea', endColorstr='#03a7dd', GradientType=1 );
  color: #FFFFFF;
  padding: 90px 0 80px 0;
  border-radius: 0;
}

.jumbotron .container {
  text-align: center;
}

.jumbotron p {
  padding: 40px 0 0 0;
  font-size: 28px;
  font-weight: 300;
  width: 85%;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.jumbotron .btn-outline-inverse {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  padding: 10px 50px;
}

.jumbotron .btn-outline-inverse:hover {
  color: #03A7DD;
  background-color: #fff;
  border-color: #fff;
}

.md-guide-feature .btn-lg {
  color: #03A7DD;
  border-color: #03A7DD;
}

.md-guide-feature .btn-lg:hover {
  color: #fff;
  background-color: #03A7DD;
}

.md-guide-feature {
  padding-top: 30px;
  padding-bottom: 40px;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  background-color: #fff;
}

.row {
  margin-top: -15px;
  margin-right: -15px;
  margin-left: -15px;
}

.md-guide-feature p, h1, h2, h3, h4, h5, h6 {
    color: #000;
}

.icon {
  font-size: 80px;
  color: #03A7DD;
  height: 100px;
  margin-bottom: 20px;
}

.lead {
  font-weight: 200;
  font-size: 19px;
  color: #555;
  max-width: 80%;
  margin-right: auto;
  margin-left: auto;
}

.col-sm-4 p {
  font-size: 15px;
  font-weight: 300;
  color: #555;
  width: 95%;
  margin-right: auto;
  margin-left: auto;
}

.half-rule {
  width: 100px;
  margin: 40px auto;
}

.site-footer {
  padding-top: 35px;
  padding-bottom: 20px;
  margin-top: 20px;
  margin-bottom: -27px;
  color: #99979c;
  background-color: #dbdbdb;
}
